<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Регистрация
      </h1>
      <% include ./partials/messages %>
      <form action="/users/register" method="POST" id="registerForm">
        <div class="form-group">
          <label for="name">Телефон</label>
          <input
            type="tel"
            id="tel"
            name="tel"
            class="form-control"
            placeholder="Enter Name"
            value="<%= tel %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Пароль:</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Пароль"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Повторите пароль:</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Подтвердите пароль"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Зарегестрироваться
        </button>
      </form>
    </div>
  </div>
</div>